<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Blue Wave Pool Supplies" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <!-- Desktop Navigation -->
  <div data-sticky-container>
    <div class="top-bar nav-desktop sticky" data-sticky data-options="marginTop:0;" style="width:100%">
      <div class="wrap">
        <div class="top-bar-left">
          <h3 class="site-logo">Blue Wave Pool Supplies</h3>
        </div>
        <div class="top-bar-right">
          <ul class="menu menu-desktop">
            <li><a href="/pages/about">About</a></li>
            <li><a href="/pages/services">Services</a></li>
            <li><a href="/pages/products">Products</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

    <%= yield %>
  </body>
  
  <!-- Footer -->
  <footer>
    <div class="wrap row small-up-1 medium-up-3">
      <div class="column">
        <h4>Contact Info</h4>
        <hr>
        <p>
        <a href="tel:901-505-2533"><span><i class="fa fa-phone fa-1g"></i></span> 901-505-2533</a>
        <a href="mailto:info@bluewavememphis.com"><span><i class="fa fa-envelope fa-1g"></i></span> info@bluewavememphis.com</a>
        <a target="_blank" href="https://www.google.com/maps?q=7543+US-64+-+Bartlett,+TN&bav=on.2,or.&bvm=bv.147448319,d.eWE&biw=1713&bih=1295&dpr=1&um=1&ie=UTF-8&sa=X&ved=0ahUKEwj6lo72pJfSAhUJPCYKHZ7qAysQ_AUIBigB"><span><i class="fa fa-address-card fa-1g"></i></span> 7543 US-64 - Bartlett, TN</a>
        </p>
      </div>
      <div class="column">
        <h4>Site Map</h4>
        <hr>
        <p>
        <a href="/pages/about">About Us</a>
        <a href="/pages/services">Services</a>
        <a href="/pages/products">Products</a>
        </p>
      </div>
      <div class="column">
        <h4>Social Media</h4>
        <hr>
        <p>
        <a target="_blank" href="https://www.facebook.com/Blue-Wave-Pool-Supplies-610087239148242/" class="inline"><i class="fa fa-facebook-official fa-2x"></i></a>
        <a href="#" class="inline"><i class="fa fa-twitter-square fa-2x"></i></a>
        <a href="#" class="inline"><i class="fa fa-instagram fa-2x"></i></a>
        <a href="#" class="inline"><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></a>

        </p>
      </div>
    </div>
  </footer>
</html>
